
fancy-menu
{
    width: 35%;
    height: 100%;
    float: left;
}

#menuContainer{
    width: 500px;
    height:500px;
}

.menuFonts{
    font-size: 15px;
    font-weight: bold;
    text-anchor: middle;
}

.menuOrbits{
    stroke : #AAA4A8;
    fill: none;
    stroke-width : 1;
}

#pageContainer {
    width: 60%;
    height:100%;
    float: left;
    /*background-color: red;*/
}

.projList{
    font-size: 18px
}

.socialMedia{
    font-size : 20px;
    border:2px solid #00b3ee;
    border-radius: 30px;
    padding: 7px 7px 7px 7px;
}

footer {
    padding-top: 10px;
    position : fixed;
    width: 100%;
}
