body{
    background-color: #333;
    color: #FF6600;
}

fancy-menu
{
    width: 500px;
    height: 500px;
    float: left;
}

#pageContainer {
    width: 600px;
    height:600px;
    float: left;
    /*background-color: red;*/
}
